body {
	background-image: url(../img/steinsgate.jpg);
	background-repeat: no-repeat;
	background-position: top;
}

h1 { 
	text-align: center; 
}

#wrapper {
 	margin-left: 34px;
 	margin-right: 34px;
 	margin-top: 100px;
	margin-bottom: 50px;
	font-family: 'Bad Script';
}

#subwrapper {
	text-align: center; 
	font-family: 'Chathura', sans-serif;;
	font-size: 20px;
}

#start {
	margin-left: auto;
	margin-right: auto;
	display: block;
 	background-color: #455a64;
 	color: white;
 	height: 100px;
 	width: 100px;
 	font-family: 'Chathura', sans-serif;
}